.s{
    border-bottom: 1px solid black;
    
}
#item{
    width: 150px;
}

.speci{
    width: 100%;
    display: flex;
    gap: 40px;
    padding-left: 8px;
    
    margin-bottom: 10px;
}
.price1{
    position: absolute;
    left: 70%;
    margin-top: 18px;   
}
.btn{
   margin-left: 90%;
   margin-bottom: 20px;
   
}
.btn i{
    font-size: 20px;
}
.head{
    margin-left: 130px;
    margin-bottom: 22px;
}
.button1{
    font-size: 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: rgb(31, 199, 199);
    padding: 11px 15px;
    margin-top: 50px;
    margin-left: 130px;
}