.nav{
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    background-color: black;
    color: beige;
   
    
}
.nav nav{
    display: flex;
    
    list-style: none;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    font-size: 19px;
    padding: 0 30px;
    color: white;
}
